.heder-tabela-aba{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.aba{
    display: flex;
    padding-left: 10px;
}
.abas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6rem;
    background-color: #eeeeee;
    padding: 5px;
    padding-left: 15px;
    border-radius: 10px 10px 0px 0px;
    min-width: 120px;
    margin-right: 2px;
    color: #1f1f1f;
}


.label-adcionar-alunos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    margin-right: 20px;
    font-size: .8rem;
    padding: 0px 5px;
    padding-right: 10px;
    margin-bottom: 10px;
    height: 30px;
}
.label-adcionar-alunos i {
    padding-right: 10px;
    border-radius: 50%;
    font-size: 1rem;
}
.label-adcionar-alunos:hover{
    background-color: rgb(224, 224, 224);
}
.label-adcionar-alunos i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    height: 15px;
    width: 15px;
}
#Ativo{
    background-color: rgb(170, 170, 170);
    color: #5e5e5e;
}
#Ativo:hover{
    background-color: rgb(182, 182, 182);
}
#txt2 {
    padding-right: 10px;
}
/* #ab1{
    background: #eeeeee;
}
#aba {
    display: flex;
    flex-wrap: nowrap;
}

#txt2 {
    justify-content: center;
    background: rgb(167, 0, 0);
    color: azure;
    border-radius: .8em;
    width: 20px;
    height: 20px;
}

.abas h1 {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
}

.abas {
    display: flex;
    font-family: 'Roboto', sans-serif;
    background: rgb(182, 182, 182);
    padding: 10px 15px;
    border-radius: 15px 15px 0px 0px;
    width: 150px;
    margin-right: 5px;
    justify-content: space-between;
}

.label-adcionar-alunos {
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.label-adcionar-alunos i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.label-adcionar-alunos a {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.conteine-abas {
    display: flex;
    justify-content: space-between;
    height: 50px;
} */
